<div class="container">
  <div class="row">
    <div class="col"><h2>注文詳細履歴</h2></div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>注文情報</h4>
      <table class="table">
        <thead>
          <tr>
            <th class="table-active">注文日</th>
            <th><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
          </tr>
          <tr>
            <th class="table-active">配送先</th>
            <th><%= @order.address %></th>
          </tr>
          <tr>
            <th class="table-active">支払方法</th>
            <th><%= @order.payment_method_i18n %></th>
          </tr>
          <tr>
            <th class="table-active">ステータス</th>
            <th><%= @order.status %></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-4">
      <h4>請求情報</h4>
      <table class="table">
        <thead>
          <tr>
            <th class="table-active">商品合計</th>
            <th><%= @order.order_calculation(@order)%>円</th>
          </tr>
          <tr>
            <th class="table-active">配送料</th>
            <th><%= @order.delivery_fee%>円</th>
          </tr>
          <tr>
            <th class="table-active">ご請求額</th>
            <th><%= @order.order_calculation(@order) + @order.delivery_fee %>円</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>注文内容</h4>
      <table class="table">
        <thead class="table-active">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail|%>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.item.tax_price*order_detail.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>