<div class="container">
  <div class="row">
    <div class="col">
      <h2>ログイン</h2>
    </div>
  </div>
  <%= form_with model: Customer.new, url: customer_session_path  do |f| %>
    <div class="row py-1">
      <div class="col-4 justify-content-center d-flex">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"30" %><br>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-4 justify-content-center d-flex">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password, autocomplete: "current-password",:size=>"30" %>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-4 justify-content-center d-flex"></div>
      <div class="col-6">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>

      <%= render "public/shared/links" %>

  </div>
</div>


